body{
    background-image: url(blue-pattern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

.navbar-nav {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.nav-link{
    color:white !important;
    font-size: 1.5em;
    font-weight: 900 !important;
    margin-left: 50px;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.movie {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.movie-instance {
    font-size: 1.5em;
    font-weight: 900;
    outline: auto;
}